* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.modal-header {
    background-color: #FFCA2C;
    color: black;
}

.container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    resize: none;
}

.filtag {
    display: flex;
    justify-content: space-between;
}

.hr {
    height: 10px;
    background-color: #FFCA2C;
    margin: 20px 0
}

.all {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

#liveAlertPlaceholder {
    position: absolute;
    top: 0;
    right: 42%;
    z-index: 20;
}

#citasContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-body,
.card-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-size: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador {
    width: 270px;
}

.card-footer {
    display: flex;
    flex-direction: row;
}

.btn {
    color: black;
}

@media (max-width: 1000px) {
    #citasContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    #citasContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .filtag {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    #citasContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    h1 {
        font-size: 30px;
    }
    .all {
        margin: 10px 5px;

    }
    .emoji {
        font-size: 60px;
    }
    .buscador{
        width: 270px;
    }
    .filtag {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

}
