*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cel,
.ub,
.ad,
.log {
    font-family: 'Material Icons';
    font-size: 15px;
}

.banner {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.banner p{
    font-size: 14.5px;
}

p{
    display: flex;
    gap: 5px;
}

.fa-brands {
    font-size: 15px;
}

.portada{
    height: 470px;
    width: 100%;
    object-fit: cover;
}
.user,.carro {
    font-family: 'Material Icons';
    font-size: 40px;
}

.banner2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 510px;
    color: white;
}

.img1{
    width: 200px;
    height: 60px;
}

h2 {
    background-color: rgb(255, 217, 0);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    gap: 10px
}

.img2{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 200px;
    top: 200px;
    left: 450px;
}

.contenedor-pestañas {
    top: 360px;
    left: 500px;
    position: absolute;
    z-index: 10;
}

.contenedor-pestañas h3 {
    color: white;
}

.lupa {
    font-family: 'Material Icons';
    font-size: 15px;
}
.listas{
    height: 150px;
}

.referrer {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px; 
}

textarea {
    width: 200px;
    height: 40px;
    resize: none;
    margin: 0 10px
}

textarea,
.referrer,
p1 {
    vertical-align: middle;
}

p1 {
    background-color: rgb(255, 217, 0);
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    margin: 0 10px;

}

.contenedor-pestañas input[type="radio"] {
    display: none;
}

.contenedor-pestañas label {
    padding: 10px 20px;
    display: inline-block;
}

#tab-all:checked~.listas {
    padding: 40px 40px;
    display: block;
    background-color: black;
}

#tab-new:checked~.listas {
    padding: 40px 40px;
    display: block;
    background-color: black;
}

#tab-used:checked~.listas {
    padding: 40px 40px;
    display: block;
    background-color: black;
}

.contenedor-pestañas input[type="radio"]:checked+label {
    background-color: #000000;
}

.title2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1155px;
    padding: 10px 20px;
    color: black;
    margin-top: 100px;
    margin-left: 480px;

}

.col {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
p2{
    border-bottom: 1px dotted;
    font-size: 17px;
}
h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pico {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 217, 0);
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;

}

.pico::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255, 217, 0);
}

.grilla{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1100px;
    height: auto;
    margin-top: 40px;
    margin-left: 500px;
    gap: 20px;
}
.img3{
    width: 100%;
    height: 230px;
}
.cat1,.cat2,.cat3,.cat4,.cat5,.cat6,.cat7,.cat8{
    width: 260px;
}
.cam,.per,.pix,.bomb,.circle{
    font-family: 'Material Icons';
}
.icons{
    position: absolute;
    display: flex;
    gap: 5px;
    color: white;
}

.en{
    border: 1px solid #7d7d7d;
    background-color: #7d7d7d;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin:5px;
}
.ds{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
h5{
    font-size: 17px;
}
.price{
    transform: skewX(-10deg);
    padding: 11.5px 10px;
    font-size: 20px;
    width: 100px;
}
.division{
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    margin-top: 15px;
}
.fot{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    color: rgb(170, 170, 170);
    font-size: 15px;
    margin-top: 10px;
}

.color{
    color: black;
}
.price1{
    transform: skewX(-10deg);
    padding: 0 5px;
    font-size: 20px;
    width: 80px;
}

.ho{
    display: flex;
    gap:5px
}
.fot1{
    display: flex;
    gap: 30px;
    justify-content: left;
    align-items: left;
    color: rgb(170, 170, 170);
    font-size: 15px;
    width: 300px;
    margin-top: 10px;
}

.fot2{
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: left;
    color: rgb(170, 170, 170);
    font-size: 15px;
    width: 300px;
    margin-top: 10px;
}

h6{
    background-color: rgb(255, 217, 0);
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    font-size: 25px;
    margin-top: 80px;
    width: auto;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner1{
    margin-top: 50px;
}
.img4{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.textban{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 45px;
    position: absolute;
    top: 1700px;
    color: white;
    left: 500px;
}
.col1{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 240px;
    gap: 40px;
}
.tam{
    font-size: 50px;
    font-weight: bold;
}
.carr{
    font-family: 'Material Icons';
    font-size: 80px;

}
.col2{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 200px;
    gap: 40px;
}
.title3{
    margin-top: 50px;
    margin-left: 500px;
}
.grilla2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1100px;
    height: auto;
    gap: 20px;
    margin-left: 500px;
    margin-top: 30px;
}
.img5{
    width: 100%;
    height: 250px;

}
.a1{
    width: 353.4px;
}
.per1{
    font-family: 'Material Icons';
    font-size: 20px;
}
.en1{
    position: absolute;
    margin: 15px 5px;
    background-color: rgba(0, 0, 0, 0.58);
    color: white;
    left:750px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px
}
.text1{
    border: 2px solid rgb(235, 235, 235);
    padding: 30px 40px;
    margin-top: 10px;
}
p4{
    font-size: 23px;
}
.icons1{
    display: flex;
    gap: 20px;
    color: rgb(0, 0, 0);
}
.division1{
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    margin-top: 45px;
}
.en2{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 15px;
}
.footer{
    background-color: black;
    margin-top: 100px;
    height: 180px;
}

.lupa1 {
    font-family: 'Material Icons';
    font-size: 25px;
}
.busq{
    margin-left:500px;
    width: 1100px;
    display: grid;  
    grid-template-columns: 55% 45%;
    justify-content: center;
    align-items: center;
}
.busq1{
    color: rgb(128, 126, 126);
    background-color: rgb(34, 32, 32);
    width: 300px;
    display: flex;
    gap: 40px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
p5{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p6{
    color: white;
}
.division2{
    border: 1px solid rgb(63, 63, 63);
    width: 1100px;
    margin-left: 500px;
    margin-top: 20px;
}
.mcag{
    width: 1100px;
    margin-left: 500px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 86% 14%;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
p7{
    font-weight: 900;
}
.icons2{
    display: flex;
    gap: 30px;
}

@media (max-width: 1440px) {
    .banner2 {
        left: 100px;
    }
    .img2{
        left: 120px;
        top: 200px;
    }
    .contenedor-pestañas {
        left: 170px;
    }
    .title2 {
        margin-left: 145px;
    }
    .grilla {
        margin-left: 170px;
    }
    .textban {
        left: 170px;
        top: 1680px;
    }
    .title3 {
        margin-left: 190px;
    }
    .grilla2 {
        margin-left: 190px;
    }
    .en1{
        left: 450px;
    }
    .busq {
        margin-left: 190px;
    }
    .division2 {
        margin-left: 190px;
    }
    .mcag {
        margin-left: 190px;
    }
}
@media (max-width:1350px){
    .banner2 {
        left: 40px;
    }
    .img2{
        left: 50px;
        top: 200px;
    }
    .contenedor-pestañas {
        left: 100px;
    }
    .title2 {
        margin-left: 80px;
    }
    .grilla {
        margin-left: 100px;
    }
    .textban {
        left: 120px;
        top: 1680px;
    }
    .title3 {
        margin-left: 120px;
    }
    .grilla2 {
        margin-left: 120px;
    }
    .en1{
        left: 380px;
    }
    .busq {
        margin-left: 120px;
    }
    .division2 {
        margin-left: 120px;
    }
    .mcag {
        margin-left: 120px;
    }
}
@media (max-width: 1240px) {
    .banner2 {
        left: 30px;
    }
    h1{
        font-size: 16px;
    }
    .img2{
        left: 0px;
        top: 200px;
    }
    .contenedor-pestañas {
        left: 50px;
    }
    .title2 {
        margin-left: 30px;
    }
    .grilla {
        margin-left: 50px;
    }
    .textban {
        left: 50px;
        top: 1680px;
    }
    .title3 {
        margin-left: 50px;
    }
    .grilla2 {
        margin-left: 50px;
    }
    .en1{
        left: 310px;
    }
    .busq {
        margin-left: 50px;
    }
    .division2 {
        margin-left: 50px;
    }
    .mcag {
        margin-left: 50px;
    }
}
@media (max-width:1190px){
    .banner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .banner2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: 10px;
        top: 100px;
        left: 160px;
        text-align: center;
    }
    p{
        font-size: 12px;
        justify-content: center;
    }
    .img2{
        left: 450px;
        top: 230px;
    }
    .contenedor-pestañas{
        width: 800px;
        gap: 10px;
        left: 200px;
        top: 400px;
 
    }
    .referrer{
        margin: 10px 5px;
    }
    .title2{
        width: 850px;
        margin-left: 180px;
        margin-top: 130px;
    }
    .grilla{
        grid-template-columns: repeat(3,1fr);
        width: 800px;
        margin-left: 200px;
        margin-top: 20px;
    }
    .cat1,.cat2,.cat3,.cat4,.cat5,.cat6,.cat7,.cat8{
    width: 250px;
}
    .en{
        font-size: 18px;
    }
    .textban{
        left: 100px;
        top: 2050px;
        gap: 20px;
    }
    .title3{
        margin-left: 200px;
    }
    .grilla2{
        grid-template-columns: repeat(2,1fr);
        width: 800px;
        margin-left: 200px;
        margin-top: 20px;
        gap: 10px;
    }
    .a1{
        width: 100%;
    }
    .en1{
        left: 510px;
    }
    .footer{
        margin-top: 60px;
    }
    .busq{
        width: 800px;
        margin-left: 200px;
        display: grid;  
        grid-template-columns: 58% 42%;
        justify-content: center;
        align-items: center;
    }
    .division2{
        width: 800px;
        margin-left: 200px;
        margin-top: 20px;
    }
    .mcag{
        width: 800px;
        margin-left: 200px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 80% 20%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:1125px){
    .textban{
        grid-template-columns: repeat(2, 1fr);
        top: 1990px;
        left: 350px;
    }
}
@media (max-width:1050px){
    .banner2{
        left: 100px;
    }
    .img2{
        left: 365px;
    }
    .contenedor-pestañas{
        left: 130px;
    }
    .title2{
        margin-left: 110px;
    }
    .grilla{
        margin-left: 130px;
    }
    .textban{
        left: 300px;
        top: 1990px;
    }
    .title3{
        margin-left: 130px;
    }
    .grilla2{
        margin-left: 130px;
    }
    .en1{
        left: 450px;
    }
    .busq{
        margin-left: 130px;
    }
    .division2{
        margin-left: 130px;
    }
    .mcag{
        margin-left: 130px;
    }
}
@media (max-width:980px){
    .banner2{
        left: 50px;
    }
    .img2{
        left: 300px;
    }
    .contenedor-pestañas{
        left: 50px;
    }
    .title2{
        margin-left: 30px;
    }
    .grilla{
        margin-left: 50px;
    }
    .textban{
        left: 230px;
    }
    .title3{
        margin-left: 50px;
    }
    .grilla2{
        margin-left: 50px;
    }
    .en1{
        left: 370px;
    }
    .busq{
        margin-left: 50px;
    }
    .division2{
        margin-left: 50px;
    }
    .mcag{
        margin-left: 50px;
    }
}
@media(max-width:900px){
    .banner2{
        grid-template-columns: 1fr 1fr 1fr;
        left: 150px;
    }
    .portada{
        height: 500px;
    }
    .img2{
        top: 270px;
    }
    .contenedor-pestañas{
        left: 150px;
        top: 450px;
        width: 550px;
    }
    .title2{
        margin-top: 250px;
    }
    .listas{
        height: 240px;
    }
    p1{
        margin: 0px 5px;
    }
    .title2{
        width: auto;
        margin-left:0px ;
    }
    .grilla{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0px;
        width: 100%;
    }
    p.ho{
        font-size: 15px;
    }
    h5{
        font-size: 20px;
    }
    .cat1,.cat2,.cat3,.cat4,.cat5,.cat6,.cat7,.cat8{
        width: 100%;
    }
    .textban{
        top: 2490px;
        left: 200px;
    }
    .title3{
        margin-left:20px;
    }
    .grilla2{
        width: 100%;
        margin-left: 0px;
    }
    .en1{
        left: 370px;
    }
   
    .busq{
        width: 100%;
        margin-left: 0px;
        display: grid;  
        grid-template-columns: 55% 40%;
    }
    .division2{
        width: 100%;
        margin-left: 0px;
    }
    .mcag{
        width: 100%;
        margin-left: 0px;
        display: grid;
        grid-template-columns: 75% 20%;
    }
    .price1,.price{
        transform: skew(0deg);
    }
}
@media (max-width:800px){
    .banner p{
        font-size: 12px;
    }
    .banner2 {
        left: 100px;
    }
    .img2{
        left: 240px;
    }
    .contenedor-pestañas {
        left: 110px;
    }
    .textban {
        left: 150px;
    }
    .en1{
        left: 320px;
    }
}
@media (max-width:700px){
    .banner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .portada{
        height: 600px;
    }
    .banner p{
        font-size: 14px;
    }
    .banner2 {
        left:130px;
        top: 170px;
        grid-template-columns: 1fr 1fr;
    }
    .img2{
        left: 180px;
        top: 365px;
    }
    .contenedor-pestañas {
        left: 70px;
        top: 555px;
    }
    h4{
        font-size: 25px;
    }
    p2{
        font-size: 15px;
    }
    .pico{
        padding: 5px 10px;
        font-size: 15px;
    }
    .textban {
        left: 100px;
        top: 2580px;

    }
    .en1{
        left: 260px;
    }
}
@media (max-width:650px){
    .banner2{
        left: 100px;
    }
    .img2{
        left: 140px;
        top: 365px;
    }
    .contenedor-pestañas {
        left: 45px;
        top: 555px;
    }
    
    .textban {
        left: 80px;
        top: 2580px;

    }
    .grilla2 {
        grid-template-columns: 1fr;
    }
    .img5{
        height: 300px;
    }
    .en1{
        left: 10px;
    }
    p4{
        font-size: 25px;
    }
    .en2{
        font-size: 18px;
    }
    .footer{
        height: 250px;
    }
    p6{
        font-size: 15px;
    }
    .busq{
       display: flex;
       flex-direction: column;
       gap: 10px;
    }
    .mcag{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:620px){
    .banner2{
        left: 80px;
    }
    .img2{
        left: 120px;
        top: 365px;
    }
    .contenedor-pestañas {
        left: 60px;
        top: 555px;
        width: 450px;
    }
    .listas{
        height: 300px;
    }
    textarea{
        margin: 0px 5px;
    }
    .title2{
        margin-top: 300px;
    }
    .grilla{
        grid-template-columns: 1fr;
    }
    .img3{
        height: 350px;
    }
    .textban {
        left: 50px;
        top: 4980px;

    }
    .grilla2 {
        grid-template-columns: 1fr;
    }
    .img5{
        height: 300px;
    }
    .en1{
        left: 10px;
    }
    p.ho{
        font-size: 17px;
    }

}
@media (max-width:590px){
    .img2{
        width: 200px;
        height: 150px;
        left: 200px;
    }
    .contenedor-pestañas {
        top: 510px;
        width: 300px;
        left: 130px;
    }
    textarea{
        margin: 15px 5px;
    }
    .listas{
        height: 350px;
    }
    .title2{
        margin-top: 350px;
    }
    p2{
        font-size: 15px;
    }
    h4{
        font-size: 20px;
    }
    .pico{
        padding: 5px 10px;
        font-size: 13px;
    }
    .textban {
        left: 90px;
        top: 5070px;
    }
    .tam{
        font-size: 40px;
    }
    .carr{
        font-size: 50px;
    }
    .col1{
        width: 180px;
        gap: 20px;
    }
    .col2{
        width: 150px;
        gap: 20px;
    }
    .footer{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media (max-width:550px){
    .banner2{
        left: 50px;
    }
    .img2{
        left: 150px;
        top: 365px;
    }
    .contenedor-pestañas {
        left: 120px;
        top: 510px;
    }
    h4{
        font-size: 18px;
    }
    .textban{
        left: 65px;
    }
}
@media (max-width:500px){
    .banner2{
        grid-template-columns: 1fr;
        left: 155px;
    }
    .img2{
        left: 140px;
        top: 500px;
    }
    .portada{
        height: 800px;
    }
    .contenedor-pestañas {
        left: 95px;
        top: 650px;
    }
    .title2{
        margin-top: 300px; 
    }
    h4{
        font-size: 18px
    }
    p2{
        font-size: 13px;
    }
    .col{
        gap: 10px;
    }
    .textban {
        left: 50px;
        top: 5220px;
    }
}
@media (max-width:450px){
    .banner2{
        left: 130px;
    }
    .img2{
        left: 120px;
    }
    .contenedor-pestañas {
        left: 75px;
    }
    .title2{
        display: grid;
    }
    .en{
        font-size: 20px;
    }

    .textban{
        grid-template-columns: 1fr;
        left: 130px;
        top: 5150px;
    }
}
@media (max-width:420px){
    .banner2{
        left: 100px;
    }
    .banner p{
        font-size: 11px;
    }
    .img2{
        left: 100px;
    }
    .contenedor-pestañas {
        left: 0px;
        width: 100%;
    }
    textarea{
        width: 287px;
    }
    .textban{
        left: 100px;
    }
}
@media(max-width:395px){
    .banner2{
        left: 85px;
    }
    h5{
        font-size: 16px;
    }
}
@media(max-width:350px){
    .banner2{
        left: 70px;
    }
    .img2{
        left: 70px;
    }
    textarea{
        width: 220px;
    }
    .textban{
        left: 70px;
    }

}
