body {
    width: 100%;
    height: 100vh;
    margin: 1px;
    font-family: Tahoma;
}

h1 {
    font-size: 30px;
    color: #c45912;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 19px;
    color: #102c3c;
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;

}

h3 {
    font-size: 19px;
    color: #2c7cbc;
    text-align: left;
    margin-left: 5px;
    margin-top: 15px;
}

p {
    font-size: 11.5px;
    color: #505050;
    text-align: left;
    margin-left: 5px;
    font-weight: 700;
}

p1 {
    font-size: 11.5px;
    color: #585858;
    font-weight: 300;
}

p2, a {
    font-size: 11.5px;
    font-weight: 300;
    color: #c43c2c;
    text-decoration: none;
}

form {
    max-width: 510px;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

div {
    border: 1px solid#349cdc;
    border-radius: 5px;
    padding: 0.8rem;
    margin-top: 20px;
    background-color: #f4f4fc;
}

section {
    border: 1px solid #f4d43c;
    border-radius: 5px;
    padding: 0.8rem;
    margin-top: 20px;
    background-color: #fcf4cc;
}


fieldset {
    border: none;
    padding: 2rem 3;
    border-bottom: 2px solid #c45912;
    margin: 1px;
    margin-top: -25px;
    margin-bottom: 10px;
}

fieldset:last-of-type {
    border-bottom: none;
}