*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Tahoma;
}
.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 20px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 50px;
    color: #c45912;
    text-align: center;
    margin-top: 20px;
}
hr {
    border: none;
    padding: 2rem 3;
    border-bottom: 2px solid #c45912;
    margin: 1px;
}
.blue {
    display: grid;
    gap: 10px;
    border: 1px solid#349cdc;
    border-radius: 5px;
    padding: 0.8rem;
    margin-top: 20px;
    background-color: #f4f4fc;
}
h2 {
    font-size: 22px;
    color: #102c3c;
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
}
p {
    font-size: 18px;
    color: #505050;
    text-align: left;
    margin-left: 5px;
    font-weight: 700;
}

p1 {
    font-size: 17px;
    color: #585858;
    font-weight: 300;
}
.orange{
    display: grid;
    gap: 10px;
    border: 1px solid #f4d43c;
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
    background-color: #fcf4cc;
}
h3 {
    font-size: 22px;
    color: #2c7cbc;
    text-align: left;

}
p2, a {
    font-size: 15px;
    font-weight: 300;
    color: #c43c2c;
    text-decoration: none;
}
@media (max-width:1024px){
    .container{
        width: 600px;
    }
}
@media (max-width:768px){
    .container{
        width: 500px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size:15px
    }
    p1{
        font-size: 14px;
    }
    h3{
        font-size:18px
    }
    p2,a{
        font-size:13px
    }
}
@media (max-width:550px){
    .container{
        width: 450px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
    p1{
        font-size: 12px;
    }
    h3{
        font-size: 15px;
    }
    p2,a{
        font-size: 12px;
    }
}
@media (max-width:500px){
    .container{
        width: 350px;
    }
}
@media (max-width:400px){
    .container{
        width:300px
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 13px;
    }
    p,p1{
        font-size: 11px;
    }
    h3{
        font-size: 13px;
    }
    p2,a{
        font-size: 11px;
    }
}
