*{
    margin: 0;
}
.page{
    background-color: #b8d4f4;
    padding: 0px 0;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: linear-gradient(to right, #586c7c, #20272c);
    color: white;
    margin-left: 400px;
    margin-right: 400px;
}

.avt{
    display: flex;
}
.img1{
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.p{
    margin-top: 50px;
    margin-left: 40px;
    font-family: 'Gill Sans MT';
}
.about{
    margin-right: 50px;
    font-family: 'Gill Sans MT';
}
h2{
    margin-bottom: 10px;
}
.linea{
    border: 1px solid white;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.lineaazul{
    border: 3px solid #8098d4;
    margin-left: 400px;
    margin-right: 400px;
}
.allb{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-left: 400px;
    margin-right: 400px;
}
.img2{
    width: 30px;
    height: 30px;
}
.ap1{
    background-color: #d1d6d6;
}
.prf{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size: 26px;
}
.bar-container {
    width: 100%;
    background-color: #68749c;
    margin-bottom: 10px;
    overflow: hidden;
}

.bar {
    height: 15px;
}
p1{
    font-family:sans-serif;
    font-size: 15px;
}
.barra1{
    margin-top:5px;
    margin-left: 80px;
    margin-right: 20px;
}
.barra2{
    margin-top:5px;
    margin-left: 80px;
    margin-right: 20px;
}
.prf22{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    margin-left: 35px;
    justify-content: left;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img3{
    width: 30px;
    height: 30px;
}
.ap2{
    background-color: white;
}
.img4{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.prf0{
    display: flex;
    gap: 10px;
    margin-top: 35px;
    margin-left: 0px;
    justify-content: left;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prf0 h3{
    margin-top: 8px;
    font-size: 25px;
}
.texto-degradado {
    display: flex;
    background: linear-gradient(to right, #bdb8b8, #ffffff);
}
.an{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    margin-top: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13.1px;
}
.años{
    text-align: right;
}
.text{
    margin-right: 120px;
}
.img5{
    width: 50px;
    height: 40px;
    margin-left: 8px;
}
.an1{
    margin-top: 10px;
    margin-left: 70px;
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13.1px;
}
.espacio{
    height: 80px;
}
.ban{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    align-items: left;
    text-align: left;
    gap: 30px;
    background: linear-gradient(to right, #586c7c, #20272c);
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img6{
    width: 60px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.img7{
    width: 50px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.img8{
    width: 60px;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.contact, .email, .direction{
    display: flex;
}
p3{
    margin-top: 27px;
    margin-left: 5px;
}
.espacio1{
    height: 5px;
}
.espacio2{
    height: 40px;
}

@media (max-width: 1600px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 150px;
        margin-right: 150px;
    }

}

@media (max-width: 1200px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 100px;
        margin-right: 100px;
    }
    h3{
        font-size: 20px;
    }
}
@media (max-width: 1000px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 75px;
        margin-right: 70px;
    }
    h3{
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .banner {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    
    .linea {
        display: none;
    }
    
    .avt {
        justify-content: center;
    }
    
    .img1 {
        margin-left: 0;
    }
    
    .about {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .allb {
        grid-template-columns: 1fr;
    }
    
    .ap1 {
        padding-bottom: 20px;
    }
    
    .text {
        margin-right: 20px;
    }
    
    .ban {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 20px;
    }
    
    .contact, .email, .direction {
        justify-content: center;
    }
    .prf{
        justify-content: left;
        align-items: left;
        margin-left: 40px;
    }
}

@media (max-width: 600px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 50px;
        margin-right: 50px;
    }
    .prf{
        justify-content: left;
        align-items: left;
        margin-left: 10px;
    }
    .text{
        margin-left: 15px;
        margin-top: 0;
    }
    .avt {
        flex-direction: column;
        align-items: center;
    }
    
    .p {
        margin-top: 10px;
        margin-left: 0;
    }
    
    .an {
        grid-template-columns: 1fr;
    }
    
    .años {
        text-align: left;
        margin-left: 20px;
        margin-top: 5px;
    }
    
    .prf22, .prf0 {
        margin-left: 10px;
    }
    
    .barra1, .barra2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .an1 {
        margin-left: 20px;
    }
    
    .img1 {
        margin-top: 20px;
    }
    .ban{
        grid-template-columns: 1fr;
        font-size: 13px;
        
    }
}
@media (max-width: 450px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 5px;
        margin-right: 5px;
    }

}
@media (max-width: 350px) {
    .banner, .lineaazul, .allb, .ban {
        margin-left: 3px;
        margin-right: 3px;
    }
    .prf{
        justify-content: left;
        align-items: left;
        margin-left: 10px;
    }
    .text{
        margin-top: 0;
        margin-left: 10px;
    }
    .avt {
        flex-direction: column;
        align-items: center;
    }
    
    .p {
        margin-top: 10px;
        margin-left: 0;
    }
    
    .an {
        grid-template-columns: 1fr;
    }
    
    .años {
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .prf22, .prf0 {
        margin-left: 10px;
    }
    
    .barra1, .barra2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .an1 {
        margin-left: 20px;
    }
    
    .img1 {
        margin-top: 20px;
    }
    .ban{
        grid-template-columns: 1fr;
        font-size: 12px;
    }
}
